<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GEPPETTO Tests</title>

    <link rel="stylesheet" href="geppetto/style/css/custom-theme/jquery-ui-1.10.0.custom.css" />

</head>
<body align="center" style="font-family:Helvetica Neue; background-color:#DCDCDC; color:#8A766A; font-weight:200;" vlink="#8A766A">
	<p>
	  <img src="https://dl.dropboxusercontent.com/u/7538688/geppetto%20logo.png" alt="Geppetto logo"/>
	  <p>
	  	These are all the existing QUnit test suites. Each suite requires a set of bundles to be deployed.	
	  </p>
	</p>
	</br></br>
	<i>Requires: org.geppetto.core, org.geppetto.simulation, org.geppetto.frontend</i>
	<p>
		<h3><a href=".\GeppettoCoreTests.html">Core Tests</a></h3>
	</p>
    <i>Requires: org.geppetto.core, org.geppetto.simulation, org.geppetto.frontend, org.geppetto.model.neuroml</i><br/>
    <i>NOTE: tests core samples - fails if persistence bundle is deployed. Launching geppetto on a browser is needed before
       running these tests for them to pass.</i>
    <p>
    <p>
    	<h3><a href=".\GeppettoNeuronalTests.html">NeuroML Tests</a></h3>
    </p>
	<i>Requires: org.geppetto.core, org.geppetto.simulation, org.geppetto.frontend, org.geppetto.persistence</i><br/>
    <i>NOTE: tests persistence samples and functionality - fails if persistence bundle is NOT deployed</i>
	<p>
		<h3><a href=".\GeppettoPersistenceTests.html">Persistence Tests</a></h3>
	</p>
	<i>Requires: org.geppetto.core, org.geppetto.simulation, org.geppetto.frontend, org.geppetto.persistence</i><br/>
    <i>NOTE: tests persistence samples and functionality - fails if persistence bundle is NOT deployed</i>
	<p>
		<h3><a href=".\GeppettoExternalSimulatorTests.html">External Simulator Tests</a></h3>
	</p>
</body>
</html>