<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/png" href="./geppetto/images/favicon.png"/>
    <title>Admin</title>
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="./geppetto/style/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="./geppetto/style/css/gpt-icons.css"/>

</head>
<body>
<div id="adminPanel" class="hiddenStart"></div>

<script charset="utf-8" type="text/javascript" src="geppetto/build/admin.bundle.js"></script>
</body>
</html>
