html {
	min-height: 100%;
	position: relative;
}

body {
	padding-top: 50px;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
	background-color: #f5f5f5;
        overflow: hidden;
}

.dashboardAlert{
    margin-top: 10px;
    margin-bottom:0px;
}
.footer {
	background-color: #f5f5f5;
	bottom: 0;
	height: 10vh;
	min-height: 20px;
	position: absolute;
	width: 100%;
	left: 0px;
}

body>.container {
	padding: 60px 15px 0;
}

.container .text-muted {
	margin: 20px 0;
}

.footer>.container {
	padding-left: 15px;
	padding-right: 15px;
}

code {
	font-size: 80%;
}

#logo {
	background-image: url("../imgs/logo@2x.png");
	background-size: 150px 38px;
	height: 38px;
	width: 150px;
	margin-top: -10px;
}

#filter {
	width: 100%;
}

.filter-form {
	width: 34%;
}

.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

.projects {
	overflow: auto;
	height: 100vh;
}

#page {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#main {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#main .row {
	margin-left: 0;
	margin-right: 0;
}

.user {
	color: #FF6700;
	margin-top: 10px;
	font-size: 18px;
}

.project-preview-tn {
	width: 130px;
	height: 130px;
	cursor: pointer;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07);
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07);
	border-radius:0px;
}

.selected {
	border: 3px solid;
	color: #ff6d00;
}

.dark-well {
	background-color: #f5f5f5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 0px;
	min-height: 20px;
	padding: 10px;
	-webkit-box-shadow: inset 0 7px 9px -7px #000000;
	-moz-box-shadow: inset 0 7px 9px -7px #000000;
	box-shadow: inset 0 7px 9px -7px #000000;
}

.well {
	background-color: #f5f5f5;
	border-radius: 0px !important;
	border: 0;
	margin-bottom: 0px;
	padding: 10px;
	-webkit-box-shadow: inset 0 7px 9px -7px #000000;
	-moz-box-shadow: inset 0 7px 9px -7px #000000;
	box-shadow: inset 0 7px 9px -7px #000000;
}

.project-preview {
	float: left;
	width: 25%;
	padding: 20px;
}

.orange{
	color:#ff6d00!important;
}

.project-preview-caption {
	margin-left: -6px!important;
	color: #818181;
    font-weight: 400;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;
    width: 140px;
    text-align: center;
}

.peoject-heading {
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 25px;
	font-weight: 400;
}

.experiments {
	margin-top: 15px;
}

.instance-path {
	text-align: left !important;
	font-weight: 200;
}

.firsticon {
	position: absolute;
	right: 0px;
}

.secondicon {
	position: absolute;
	right: 30px;
}

.firsticontop {
	position: absolute;
	right: 10px;
}

.secondicontop {
	position: absolute;
	right: 50px;
}

.menuHeader {
	margin-top: 3px;
	margin-bottom: 3px;
	font-weight: 400;
	color: #004252;
}

.paramvalue {
	font-weight: 400;
	color: #ff6d00;
	text-align: right;
}

.projectnametop {
	color: #ff6d00;
}

.menuOrange {
	margin-top: 3px;
	margin-bottom: 3px;
	font-weight: 400;
	color: #ff6d00;
}

dt {
	margin-bottom: 7px;
	margin-right: 10px;
	width: 450px !important;
}

dd {
	margin-bottom: 7px;
	font-weight: 400;
	text-align: right;
}

.collapse-striped>div:nth-child(4n + 1)>div, .collapse-striped>div:nth-child(4n + 2)>div
	{
	background-color: #fefefe;
}

.experiment-panel-heading {
	border: none;
}


.form-control {
	border-radius:0px;
}

.circle {
	position: relative;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #ff6d00;
	margin-top: 2px;
	height: 15px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	border: 0;
	border-bottom: 3px solid #ff6d00;
	border-radius: 0;
	border-bottom: 3px solid #ff6d00;
}

.QUEUED {
	background: #00ccff;
}

.RUNNING {
	background: #ffd800;
}

.ERROR {
	background: red;
	cursor: pointer;
}

.COMPLETED {
	background: #7fcf00;
}

.DELETED {
	background: grey;
}

#SCROLLBARS /* Gmail style scrollbar */         
::-webkit-scrollbar {
	width: 12px
}

::-webkit-scrollbar-thumb {
	border-width: 1px 1px 1px 2px
}

::-webkit-scrollbar-track {
	border-width: 0
}

::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}

::-webkit-scrollbar-track:horizontal {
	border-width: 4px 0 0
}

::-webkit-scrollbar-track:hover {
	background-color: rgba(31, 32, 34, .05);
	box-shadow: inset 1px 0 0 rgba(31, 32, 34, .1);
}

::-webkit-scrollbar-track:horizontal:hover {
	box-shadow: inset 0 1px 0 rgba(31, 32, 34, .1)
}

::-webkit-scrollbar-track:active {
	background-color: rgba(31, 32, 34, .05);
	box-shadow: inset 1px 0 0 rgba(31, 32, 34, .14), inset -1px 0 0
		rgba(31, 32, 34, .07);
}

::-webkit-scrollbar-track:horizontal:active {
	box-shadow: inset 0 1px 0 rgba(31, 32, 34, .14), inset 0 -1px 0
		rgba(31, 32, 34, .07)
}

::-webkit-scrollbar-thumb {
	background-color: rgba(31, 32, 34, .2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(31, 32, 34, .1), inset 0 -1px 0
		rgba(31, 32, 34, .07);
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 6px 1px 1px;
	padding: 0 0 0 100px;
	box-shadow: inset 1px 1px 0 rgba(31, 32, 34, .1), inset -1px 0 0
		rgba(31, 32, 34, .07);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(31, 32, 34, .4);
	box-shadow: inset 1px 1px 1px rgba(31, 32, 34, .25);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(31, 32, 34, 0.5);
	box-shadow: inset 1px 1px 3px rgba(31, 32, 34, 0.35);
}

::-webkit-scrollbar-track {
	border-width: 0 1px 0 6px
}

::-webkit-scrollbar-track:horizontal {
	border-width: 6px 0 1px
}

::-webkit-scrollbar-track:hover {
	background-color: rgba(31, 32, 34, .035);
	box-shadow: inset 1px 1px 0 rgba(31, 32, 34, .14), inset -1px -1px 0
		rgba(31, 32, 34, .07);
}

::-webkit-scrollbar-thumb {
	border-width: 0 1px 0 6px
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 6px 0 1px
}

::-webkit-scrollbar-corner {
	background: transparent
}

body::-webkit-scrollbar-track-piece {
	background-clip: padding-box;
	background-color: #f5f5f5;
	border: solid #fff;
	border-width: 0 0 0 3px;
	box-shadow: inset 1px 0 0 rgba(31, 32, 34, .14), inset -1px 0 0
		rgba(31, 32, 34, .07);
}

body::-webkit-scrollbar-track-piece:horizontal {
	border-width: 3px 0 0;
	box-shadow: inset 0 1px 0 rgba(31, 32, 34, .14), inset 0 -1px 0
		rgba(31, 32, 34, .07);
}

body::-webkit-scrollbar-thumb {
	border-width: 1px 1px 1px 5px
}

body::-webkit-scrollbar-thumb:horizontal {
	border-width: 5px 1px 1px
}

body::-webkit-scrollbar-corner {
	background-clip: padding-box;
	background-color: #f5f5f5;
	border: solid #fff;
	border-width: 3px 0 0 3px;
	box-shadow: inset 1px 1px 0 rgba(31, 32, 34, .14);
}

.fa-1 {
	font-size: 18px !important;
}

.fa-2 {
	font-size: 25px !important;
}

.fa-3 {
	font-size: 4em !important;
}

.fa-4 {
	font-size: 7em !important;
}

.geppettoSymbol {
	background-image: url("../imgs/geppettosymbol.png");
	background-size: 80px 80px;
	height: 80px;
	width: 80px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.geppettoSymbol:focus {
	outline: none;
}

.geppettoSymbolSel {
	background-image: url("../imgs/geppettosymbolsel.png");
	background-size: 80px 80px;
	height: 80px;
	width: 80px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.geppettoSymbolSel.selected{
	border:0!important;
}

.icon {
	color: #009dc4;
}

.icon:hover {
	color: #0183a3;
}

a {
	color: #009dc4;
}

a:hover {
	color: #0183a3;
}

*.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	/*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
	-ms-user-select: none;
	user-select: none;
}

#errormodal-text {
	overflow : auto;
	border-bottom: none;
}

#errormodal .modal-body, #errormodal .modal-header, #errormodal .modal-footer{
    border-bottom: 0;
    border-top : 0;
}