.treeViewer {
    height: 100%;
}

.rst__rowTitleWithSubtitle{
    height: initial;
}
.rst__rowContents{
    background: #2e2a2a;
    border: 0px;
    color: #e9e9e9;
}

.rst__lineChildren:after {
    background-color: white;
}

.rst__lineBlock:before,
.rst__lineBlock:after {
    background-color: white;
}

.rst__rowWrapper {
    padding: 3px 10px 2px 0;
}

.rst__collapseButton,
.rst__expandButton {
    box-shadow: 0 0 0 1px #FFF;
    width: 12px;
    height: 12px;
}

.rst__collapseButton:hover:not(:active),
.rst__expandButton:hover:not(:active){
    width: 12px;
    height: 12px;
    background-size: initial;
}

.rst__collapseButton:focus,
.rst__expandButton:focus{
        box-shadow: 0 0 0 1px #FFF, 0 0 1px 3px #83bef9;
}
